@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200..900&display=swap');
/* @font-face */
/* 모든 요소에 반영하고 싶으면 body 하위에 작성 */
/* .noto-serif-kr-<uniquifier > {
  font-family: 'Noto Serif KR', serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

:root {
  --blue-dark: #1e6f9f;
  --blue: #4ea8de;
  --purple-dark: #5e60ce;
  --purple: #8284fa;
  --gray700: #0d0d0d;
  --gray600: #1a1a1a;
  --gray500: #262626;
  --gray400: #333333;
  --gray300: #808080;
  --gray200: #d9d9d9;
  --gray100: #f2f2f2;
  --danger: #e25858;
  --space-s: 6px;
  --space-m: 16px;
  --space-l: 32px;
}
body {
  background-color: var(--gray600);
  color: var(--gray100);
  font-family: 'Noto Serif KR', serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
li {
  list-style: none;
}
button {
  border: none;
  /* 탭으로 접근 시 outline 없게 */
  outline: none;
  background-color: var(--gray300);
  cursor: pointer;
  border-radius: var(--space-s);
  padding: var(--space-s) var(--space-m);
  color: var(--gray100);
}
button.active {
  background-color: var(--blue-dark);
}
button:hover {
  background-color: var(--blue);
}
h1 {
  font-family: 'Noto Serif KR', sans-serif;
  font-size: 2rem;
  font-weight: 500;
}

/* 앱 제목 header */
.hd {
  /* border: 1px solid yellow; */
  background-color: var(--gray700);

  /* 전체 패딩을 주고 text-aline으로 제목 위치 정렬 */
  /* 아래쪽 패딩을 좀 더 길게 */
  padding: var(--space-l) 0 calc(var(--space-l) * 1.8);
  text-align: center;
}

/* hd클래스를 제외한 나머지 모든 요소에 */
/* mw 클래스를 추가해주지 않고 이렇게 써도 됨 */
/* #app > *:not(.hd){
    border: 1px solid yellow;
  max-width: 500px;
  width: calc(100%-var(--space-l));
  margin: auto;
} */

.mw {
  /* border: 1px solid yellow; */
  max-width: 500px;
  width: calc(100%-var(--space-l));
  margin: auto;
}

/* 입력 폼 영역 */
.input-container {
  /* 조금 위로 위치하도록 */
  position: relative;
  top: -30px;

  /* 옆으로 나열, 버튼 높이 같아지게 */
  display: flex;
  gap: var(--space-s);
}
.input-container input {
  border: none;
  padding: var(--space-m);
  background-color: var(--gray400);
  color: var(--gray100);
  outline: none;
  border-radius: var(--space-s);

  /* 나열되게 해서 길게 */
  flex: 1;
}
.input-container input:focus {
  background-color: var(--gray300);
}

.input-container button {
  background-color: var(--blue-dark);
  padding: var(--space-m) calc(var(--space-m) * 2);
}

.input-container button::after {
  /* 가상요소 */
  content: '+';
  border: 1px solid var(--gray100);
  border-radius: 50%;
  width: 14px;
  height: 14px;
  /* 가상요소에는 display 없어서 지정해 줘야 함 */
  display: inline-block;

  position: relative;
  left: 3px;
}

/* 필터탭  */
.filter-container {
  display: flex;
  gap: var(--space-m);
}

/* 할일 목록 */
/* 여기에 마진 주어서 위아래 간격 생기도록 */
.todo-list {
  /* auto 안해줄 땐 mw 상속?? */
  margin: var(--space-l) auto !important;
  /* 78줄처럼 쓰면 !important 필요. 우선순위*/
}
.todo-list li {
  display: flex;

  /* 모든 요소 수평 맞도록 */
  align-items: center;
  /* 요소 간 간격 */
  gap: var(--space-s);
  padding: var(--space-s);
  border-bottom: dotted 1px var(--gray200);
  cursor: pointer;
  transition: 0.3s;
}
.todo-list li:hover {
  background-color: var(--gray500);
}
.todo-list li.completed {
  opacity: 0.1;
}

.todo-list li.completed span {
  /* span 요소에만 취소선 */
  text-decoration: line-through;
}
.todo-list li > * {
  /* border: 1px solid tomato; */
}
.todo-list input {
}
.todo-list span {
  /* input, button이 차지하는 공간 외에 다 span이 갖도록 */
  flex: 1;
}
.todo-list time {
  font-size: 0.75em;
}
.todo-list i {
  border: 1px solid transparent;
  /* hover했을 때 리스트 움직이지 않게 */
  padding: var(--space-s);
  color: var(--gray100);
  border-radius: var(--space-s);
  transition: 0.3s;
}
.todo-list i:hover {
  border: 1px solid var(--gray300);
  color: var(--danger);
}
.todo-list button::after {
  /* 가상요소. content 필요 */
  /* font awesome 사이트에서, content 가져옴*/
  font-family: 'Font Awesome 6 Free';
  font-weight: bold;
  content: '\f1f8';
}

/* 요약정보 -오른쪽 정렬, 간격 */
.todo-summary {
  /* 옆으로 나란히 */
  display: flex;
  /* 메인축으로 오른쪽 정렬 */
  justify-content: flex-end;

  /* 텍스트 중간 정렬된것처럼 */
  align-items: center;
  gap: var(--space-m);
}
.todo-summary p {
  font-family: 'Noto Serif KR', sans-serif;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  gap: var(--space-s);
}
.todo-summary p:nth-of-type(1) span:nth-of-type(1) {
  color: var(--blue-dark);
}
.todo-summary span:nth-of-type(2) {
  background-color: var(--gray300);
  /* span은 인라인 */
  padding: var(--space-s);
  border-radius: var(--space-s);
  font-weight: 900;
}
.todo-summary > * {
  /* border: 1px solid yellow; */
}

.todo-summary button {
  background-color: var(--blue-dark);
}
